rp/MVC/Connected Services/SOAPService/ApplicarionService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicarionService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicarionService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Data.Entities" />
  <xs:complexType name="ArrayOfTeamDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeamDTO" nillable="true" type="tns:TeamDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeamDTO" nillable="true" type="tns:ArrayOfTeamDTO" />
  <xs:complexType name="TeamDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Data.Entities" minOccurs="0" name="Review" nillable="true" type="q1:ArrayOfReview" />
      <xs:element minOccurs="0" name="Year" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamDTO" nillable="true" type="tns:TeamDTO" />
  <xs:complexType name="ArrayOfFanDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FanDTO" nillable="true" type="tns:FanDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFanDTO" nillable="true" type="tns:ArrayOfFanDTO" />
  <xs:complexType name="FanDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Data.Entities" minOccurs="0" name="Review" nillable="true" type="q2:ArrayOfReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FanDTO" nillable="true" type="tns:FanDTO" />
  <xs:complexType name="ArrayOfReviewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReviewDTO" nillable="true" type="tns:ReviewDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReviewDTO" nillable="true" type="tns:ArrayOfReviewDTO" />
  <xs:complexType name="ReviewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Data.Entities" minOccurs="0" name="Fan" nillable="true" type="q3:Fan" />
      <xs:element minOccurs="0" name="FanID" type="xs:int" />
      <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Data.Entities" minOccurs="0" name="Team" nillable="true" type="q4:Team" />
      <xs:element minOccurs="0" name="TeamID" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Data.Entities" minOccurs="0" name="Teams" nillable="true" type="q5:ArrayOfTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewDTO" nillable="true" type="tns:ReviewDTO" />
</xs:schema>