rp/MVC/Connected Services/SOAPService/Data.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Data.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Data.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fan" nillable="true" type="tns:Fan" />
          <xs:element minOccurs="0" name="FanID" type="xs:int" />
          <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Team" nillable="true" type="tns:Team" />
          <xs:element minOccurs="0" name="TeamID" type="xs:int" />
          <xs:element minOccurs="0" name="Teams" nillable="true" type="tns:ArrayOfTeam" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="Fan">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Review" nillable="true" type="tns:ArrayOfReview" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Fan" nillable="true" type="tns:Fan" />
  <xs:complexType name="Team">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Review" nillable="true" type="tns:ArrayOfReview" />
          <xs:element minOccurs="0" name="Year" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
  <xs:complexType name="ArrayOfTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Team" nillable="true" type="tns:Team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeam" nillable="true" type="tns:ArrayOfTeam" />
</xs:schema>